eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

---

spring:
    profiles: docker
    boot:
        admin:
           url: http://admin:8080
eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/
